@font-face{
font-family:'titulo';
src: url('shamery.ttf') format('truetype');
}

body{
background-color: rgba(22, 192, 128, 1)
;
color:white;
/*font-weight:bold;*/
}

h1{
border-style: dotted;
border-width: 3px;
border-color: rgba(53, 108, 230, 0.5);

background-color: rgba(0, 148, 158, 0.6);
font-family:'titulo';

color:white;
font-size: 450%;
font-weight: 450;
line-height: 50%;
margin: 0 1 40px;
text-align: center;
text-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}
h2 {
color:white;
background-color: rgba(0, 148, 158, 0.6);
font-family:"titulo", sans-serif;
font-size: 250%;
font-weight: 400;
line-height: 32px;
margin: 0 0 30px;
}
/*clase de estilo, aplicable a subsecciones HTML*/
.color{
color:indigo;
}
