@font-face{
font-family:'cuerpo';
src: url('shamery.ttf') format('truetype');
font-weight: 800;
}
@font-face{
font-family:'titulo';
src: url('Romanica.ttf') format('truetype');
}
body{
background-image: url(tenor.gif);
font-family:'cuerpo';
color:white;
/*font-weight:bold;*/
}

h1{
font-family:'titulo';

color:white;
font-size: 450%;
font-weight: 450;
line-height: 50%;
margin: 0 1 40px;
text-align: center;
text-shadow: 3px 3px 50px rgba(0,0,0,0.8);
}

h2 {
color:white;
font-family:"titulo", sans-serif;
text-shadow: 3px 3px 30px rgba(0,0,0,0.7);
font-size: 250%;
font-weight: 400;
line-height: 32px;
margin: 0 0 30px;
}
/*clase de estilo, aplicable a subsecciones HTML*/
.color{
color:indigo;
}
