@font-face{
font-family:'fuente';
src: url('VCR.ttf');
}

@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('http://www.miketaylr.com/f/kulminoituva.ttf');
}

/* Fondo de la página */
body {
  font-family: fuente;
  font-size: 40px;
  color: white;
  background-color: #478c2b;
}
button {
  font-family: fuente;
  font-size: 30px;
  color: white;
  background-color: #478c2b;
}

/* Estilo para el canvas: Negro */
#canvas {
  font-size: 30px;
  font-family: fuente;
  background-color: black;
  margin-top: 10px;
}

/*
   Clase color. Cambiar el color
   del fondo
*/
.color {
  background: lightblue;
}
